/* Markdown Styles */
img {display: block; width: 80%; margin-left: auto; margin-right: auto;}

.container    {
    width: 90vmin; 
    margin:0 auto; 
    padding-bottom: 5.0vh;
    text-align: justify; 
    font-size: 2.0vmin;
    letter-spacing: -0.003em;
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
}

.blog-footer {
    margin-top: 2vmin;
    width: 100%; 
    display: table;
    color: #d3b3b3
}

/* Responsive */
@media screen and (max-width: 800px) {
    .container {
        font-size: 2.5vmax;
    }
}