{{define "AddBlog"}}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/data/templates/base-styles.css">
    <link rel="stylesheet" href="/data/templates/admin-styles.css">
</head>

{{.Navbar}}

<body>
    <div class="container">
        <form method="POST" action="/admin/addblog" enctype="multipart/form-data">
            <input type="text" id="blog_title" name="title" placeholder="Blog Name"><br><br>
            <input type="text" id="blog_brief" name="brief" placeholder="Blog Brief"><br><br>
            <input type="text" id="blog_tags" name="tags" placeholder="Tags"><br><br>
            <input type="file" id="blog_content" name="content"><br><br>
            <input type="submit" value="Publish">
        </form>
    </div>    
</body>

{{.Footer}}
{{end}}