<footer>
    <div class="foot">
        <div class="foot-element">
            <a href="https://shivam01912.github.io/portfolio/" target="_blank" rel="noopener noreferrer">About Me</a>
        </div>
    </div>
</footer>