.cards    {
    display: flex;
    width: 100vmin;    
    margin:0 auto; 
}

.column {
    flex-direction: column;
    margin-right: 10px;
    flex: 1;
    width: 100%;
  }
  
.card {
    border: 1px solid rgba(250, 231, 231);
    margin:5vh auto; 
    padding: 0 5.0vh 5.0vh 5.0vh;
    background-color: #66707e;
    color: #eeeeee;
    
    text-align: justify; 
    font-size: 2.0vmin;
    letter-spacing: -0.003em;
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
}

.heading {
    color: #eeeeee;
    font-size: 3.0vmin;
}

a {
    text-decoration: none;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(250, 231, 231, 0.2), 0 6px 20px 0 rgba(250, 231, 231, 0.2);
    background-color: #884b4b;
}

/* Responsive */
@media screen and (max-width: 800px) {
    .cards {
        font-size: 2.5vmax;
        width: 90vmin;
    }
}